@import './../../style/vars';

.HomePage {

  width: 100vw;
  height: 90vh;

   display: flex;
   align-items: center;
   justify-content: center;

   background: var(--fnd-color);
          }

.Card{
  width: 100%;
  height: 80%;

  border-radius: 1vw;

  background-color: var(--bg-color);

  box-shadow: 5px 5px 5px var(--sdw-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.img{
  width: 80%;
  height: 60%;
  border-radius: 1vw;

  margin-top: 3%;

}

.divBtn{
  margin-top: 10%;
  width: 40%;
  height: 10%;
  display: flex;
  justify-content: space-around;
}

.mais{
  margin-bottom: 10%;
}

.excluir{
    width: 35%;
    height: 100%;
    background-color: red;
    border-radius: 25vw;
}

.editar{
   width: 35%;
    height: 100%;
    background-color: greenyellow;
    border-radius: 25vw;
}


