.HomePage {

  width: 100vw;
  height: 90vh;

   display: flex;
   align-items: center;
   justify-content: center;

   background: linear-gradient(90deg,
            rgba(24, 37, 119, 1) 0%,
            rgba(42, 74, 185, 1) 50%,
            rgba(80, 191, 22, 1) 100%,);
          }

.Card{
  width: 100%;
  height: 80%;

  border-radius: 1vw;

  background-color: rgba(80, 191, 22, 1);

  box-shadow: 5px 5px 5px rgba(245, 186, 40, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}

.img{
  width: 80%;
  height: 60%;
  border-radius: 1vw;

  margin-top: 3%;

}

.divBtn{
  margin-top: 10%;
  width: 40%;
  height: 10%;
  display: flex;
  justify-content: space-around;
}

.mais{
  margin-bottom: 10%;
}


