.HomePage {
  display: flex;
   justify-content: end;
   background: linear-gradient(90deg,
            rgba(24, 37, 119, 1) 0%,
            rgba(42, 74, 185, 1) 25%,
            rgba(80, 191, 22, 1) 50%,
            rgba(42, 74, 185, 1) 75%,
            rgba(24, 37, 119, 1) 100%);
}