.LoginPage {
  display: flex;
   justify-content: end;
   background: linear-gradient(90deg,
            rgba(24, 37, 119, 1) 0%,
            rgba(42, 74, 185, 1) 25%,
            rgba(80, 191, 22, 1) 50%,
            rgba(42, 74, 185, 1) 75%,
            rgba(24, 37, 119, 1) 100%);
}


.LoginBlock {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
}

.inputs{
  width: 100%;
  height: 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.mini{
  margin-top: 5%;

  width: 30%;
  height: 4%;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;
}