.BtnText{
    background: none;
    color: blue;
    border: none;
    font-size: 100%;
    position: absolute;
    top: 50%;
    left: 35%;
}

.cadastrar{
    position: absolute;
    top: 75%;
    left: 48.5%;
    font-size: 100%;
};