

header{
    width: 100vw;
    height: 10vh;

    
   background: var(--fnd-color);

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
}

.btnhome{
     background-color: rgba(24, 37, 119, 1);
    height: 4vh;
    width: 6vw;
    margin-right: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25vw;
    color:rgba(80, 191, 22, 1);


}

.btnlogin{
     background-color: rgba(24, 37, 119, 1);
    height: 4vh;
    width: 6vw;
    margin-right: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25vw;
    color: rgba(80, 191, 22, 1);
}

.btntema{
     background-color: rgba(24, 37, 119, 1);
    height: 4vh;
    width: 6vw;
    margin-right: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25vw;
    color: rgba(80, 191, 22, 1);
    font-size: 1vw;
}







