.botao{
    width: 35%;
    height: 100%;
    border-radius: 25vw;
    border: none;
    font-size: 1vw;
    
}

.editar{
   background-color:  rgba(42, 74, 185, 1);
}

.excluir{
    background-color: red;
}